<div class="container">
  <div class="div-style"> <br>

    <div class="title">
      Register Airplane <br><br>
    </div>
    <form class="add-traject-form" #aircraftForm="ngForm">
      <div class="form-group">
        <input placeholder="Model" ngModel name="id"><br><br>
      </div>
      <div class="form-group">
        <input placeholder="Name" ngModel name="brand"><br><br>
      </div>
      <div style="width:100%;text-align:center">
        <a class="registerbutton" type="submit" (click)="addAircraft(aircraftForm)">Add Airplane</a>
        <span><a routerLink="/landingadmin" class="registerbutton" type="submit" (click)="addAircraft(aircraftForm)">Back</a></span> 
      </div>
    </form>
  </div>
</div>
