<div class="container">
  <div class="landingPage">
    <p class="title">Planner Landing Page</p>
    <div class="tableHead">
      <tr>
        <!-- Links need to be verified -->
        <th><p class="title2">Trajects<a routerLink="/addtraject" class="addNew">Add</a></p></th>
        <th><p class="title2">Trips<a routerLink="/addtrip" class="addNew">Add</a></p></th>
      </tr>
    </div>

    <div class="list">
      <nav>
          <ul>
              <li *ngFor="let flight of flights">{{flight.departureAirport.name}} - {{flight.arrivalAirport.name}}
                ({{flight.inactiveStartdate}} - {{flight.inactiveEnddate}})</li>
          </ul>
      </nav>
    </div>

    <div class="list">
        <nav>
            <ul>
                <li *ngFor="let flight of flights">{{flight.departureAirport.name}} - {{flight.arrivalAirport.name}}
                  ({{flight.inactiveStartdate}} - {{flight.inactiveEnddate}})</li>
            </ul>
        </nav>
      </div>
  </div>
</div>