.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
 }
 
 .button1 {
    background-color: white;
    color: black;
    border: 2px solid #00A1E4;
 }
 
 .button1:hover {
    background-color: #00A1E4;
    color: white;
 }
 
 .button2 {
    background-color: white;
    color: black;
    border: 2px solid #FF7800;
 }
 
 .button2:hover {
    background-color: #FF7800;
    color: white;
 }

 .container{
    width: 100%;
    text-align: center;
}

#plannerTable {
    width: 1000px;
    margin:auto;
    /* border: 3px solid #00A1E4;
    border-radius: 8px;
    border-collapse: collapse; */
}

#plannerTable td, th {
    width: 495px;
    /* border: 3px solid #00A1E4;
    border-radius: 8px;
    border-collapse: collapse; */
}
 
.addNew {
    margin-left:30px;
}

ul {
    float:top;
    list-style-type: none;
    margin:0;padding:0;
}

li {
    background: rgba(0, 160, 228, 0.185);
    border-radius: 8px;
    margin:4px;
    padding-left:10px;
    vertical-align: middle;
    text-align: left;
    border: 1px solid #00A1E4;
    height:45px;
    line-height: 45px;
    display: inline-block;
    width:90%;

}

li:hover {
    background: rgba(0, 160, 228, 0.479);
    cursor: pointer;
}

.displayList {
    height:400px;
}

.title {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
	font-size: 36px;
	color: #00A1E4;
	text-align: center;
    font-style: initial;
}

.title2 {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 400;
	color: #00A1E4;
}

.container{
    width: 100%;
    height:90vh;
    text-align: center;
    position:relative;
}

.landingPage {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: #00A1E4;
    border-style: solid;
    border-width: 3px;

    height:550px;
	width:1000px;
    position: absolute;
    top:50%;
	left:50%;
	margin-left:-500px;
    margin-top:-275px;
}

a{
	color: #FFFFFF;
	text-align: center;
	padding: 8px 30px;
	width:100px;
    height:50px;
    margin-top:80px;
    text-align: center;
    line-height: 50px;
	text-decoration: none;
	font-size: 15px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #FF7800;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
 
a:hover {
	background-color: #00A1E4;
	color: #FFFFFF;
	border-radius: 5px;
	cursor: pointer;
}

.tableHead {
    border-bottom: 3px solid #00A1E4;
    width:100%;
}

nav ul{height:300px; width:100%;margin-top:20px;}
nav ul{overflow:hidden; overflow-y:scroll;}

.list {
    display: inline-block;
    width:50%;
}