.resize{
  margin-left: 37%;
  margin-top: 20px;
  height: 25%;
  width: 25%;
}

.div-style{
	background-color: #FFFFFF;
	border-radius: 8px;
	border: #00A1E4;
	border-style: solid;
	border-width: 3px;
	height:450px;
	width:600px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-300px;
	margin-top:-250px;
}

.container {
	width: 100%;
	height:90vh; 
	position:relative;
}

input{
  padding:8px;
  display:block;
  border:none;
  width:50%;
  background-color: #FFFFFF;
  border-width: 2px;
  border-color: #00A1E4;
  border-style: solid;
  border-radius: 5px;
  margin-left: 25%;
}

::placeholder {
  color: #00618A;
}

.forgotpassword{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 9px;
  margin-bottom:30px;
}

.loginbutton{
    color: #FFFFFF;
    width:115px;
    height:35px;
    line-height: 35px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FF7800;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
    margin:0 auto;
    display:block;
}
   
.loginbutton:hover {
  background-color: #00A1E4;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

form {
  margin-bottom:20px;
}