<div class="div-style">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="avatar">
      <img class="resize" src="../../assets/avatar2.png" alt="Avatar"> <br><br><br>
    </div>

    <div>
      <input placeholder="username" type="text" name="userName" ngModel> <br><br>
    </div>

    <div>
      <input placeholder="password" type="password" name="passWord" ngModel> <br>

    </div>
    <div class="forgotpassword">
      <a href="">Forgot username/password?</a>
    </div>
    <br><br>
    <div>
      <button class="loginbutton" (click)="loginFunction(loginForm)">Login</button> <br><br>
    </div>
  </form>
</div>