.resize{
  margin-left: 37%;
  margin-top: 20px;
  height: 25%;
  width: 25%;
}


.div-style{
position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 600px;
height: 500px;
background-color: #FFFFFF;
border-radius: 8px;
border: #00A1E4;
border-style: solid;
border-width: 3px;
/* opacity: 0.6; */
}

input{
padding:8px;
display:block;
border:none;
width:50%;
background-color: #FFFFFF;
border-width: 2px;
border-color: #00A1E4;
border-style: solid;
border-radius: 5px;
margin-left: 25%;
}

::placeholder {
color: #00618A;
}

.forgotpassword{
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 9px;
}

.loginbutton{
color: #00A1E4;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 24px;
border-radius: 8px;
margin-left: 43%;
}

.loginbutton a:hover {
background-color: #FF7800;
color: #FFFFFF;
border-radius: 8px;
}

.loginbutton a.active {
background-color: #00618A;
color: white;
border-radius: 8px;
}
