<body background='../../assets/beach2.jpg' class="background">
  <div class="container">
    <div class="div-style">
      <p class="title">Register trip</p>
      <form class="add-trip-form" #userForm="ngForm">
        <div class="form-group">
          <select class="option-label" [(ngModel)]='originSelected' name="traject">
            <option name="traject" value='{{flight.departureAirport| json}}*{{flight.arrivalAirport| json}}*{{flight.inactiveStartdate}}*{{flight.inactiveEnddate}}'
              *ngFor="let flight of flights">
              {{flight.departureAirport.name}} - {{flight.arrivalAirport.name}} </option>
          </select>
        </div>
        <div class="form-group">
          <select class="option-label" [(ngModel)]='planeSelected' name="plane">
            <option name="plane" value={{plane.id}} *ngFor="let plane of planes"> {{plane.brand}} </option>
          </select>
        </div>
        <div class="form-group">
          <input placeholder="YYYY-MM-DD" ngModel type="date" name="departureDate">
        </div>
        <div class="form-group">
          <input placeholder="YYYY-MM-DD" ngModel type="date" name="arrivalDate">
        </div>
        <div class="form-group">
          <input placeholder="Duration" ngModel name="Duration">
        </div>
        <div class="form-group">
          <input placeholder="Price" ngModel name="price">
        </div>
        <div style="width:100%;text-align:center">
          <a class="registerbutton" type="submit" (click)="addTrip(userForm)">Add Trip</a>
          <span><a routerLink="/landingplanner" class="registerbutton">Back</a></span>
        </div>
      </form>
    </div>
  </div>
</body>
