

.headtitle{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 38px;
  color: #00A1E4;
  margin-top: 70px;
}

.container{
 width: 100%;
 height: 55vh;
 text-align: center;
 position:relative;
}

.horline {
font-size: 25px;
color: #00618A;
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;


}

.div-style{
	background-color: #FFFFFF;
	border-radius: 8px;
	border: #00A1E4;
	border-style: solid;
	border-width: 3px;
	height:300px;
	width:600px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-300px;
	margin-top:-125px;
	opacity: 0.85;
}   