<body background='../../assets/beach2.jpg' class="background">
  <div class="container">
    <div class="landingPage">
      <p class="title">Welcome {{currentCustomer.firstName}}!</p>
      <div class="tableHead">
        <tr>
          <th>
            <p class="title2">Your user information</p>
          </th>
          <th>
            <p class="title2">Booked flights</p>
          </th>
        </tr>
      </div>

      <div class="list">
        <table id="customerDetailsTable">
          <tr>
            <td>First name:</td>
            <td>{{currentCustomer.firstName}}</td>
          </tr>
          <tr>
            <td>Last name:</td>
            <td>{{currentCustomer.lastName}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{currentCustomer.email}}</td>
          </tr>
          <tr>
            <td>Phone number:</td>
            <td>{{currentCustomer.phoneNumber}}</td>
          </tr>
          <tr>
            <td>Country</td>
            <td>{{currentCustomer.country}}</td>
          </tr>
          <tr>
            <td>City:</td>
            <td>{{currentCustomer.city}}</td>
          </tr>
          <tr>
            <td>Street:</td>
            <td>{{currentCustomer.street}}</td>
          </tr>
          <tr>
            <td>Street number:</td>
            <td>{{currentCustomer.streetNumber}}</td>
          </tr>
        </table>
      </div>

      <div class="list">
        <nav>
          <ul class="listTrips">
            <li *ngFor="let order of orders">
              <table class="searchList">
                <th colspan="4">{{order.trip.origin.name}} - {{order.trip.destination.name}}</th>
                <tbody>
                  <tr class="columnNames">
                    <td>Luggage</td>
                    <td>Seat number</td>
                    <td>Seat type</td>
                    <td>Price</td>
                  </tr>
                  <tr>
                    <td>{{order.luggage}} kg</td>
                    <td>{{order.seatNumber}}</td>
                    <td>{{order.seatType}}</td>
                    <td>€{{order.paidAmount}}</td>
                  </tr>
                </tbody>
              </table>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</body>