img{
    height: 20%;
    width: 20%;
    position: relative;
    top:150px;
    left:550px;
}


.text {
    height: 10%;
    width: 100%;
    position: relative;
    top:150px;
    left:375px;
}






