<div class="container">
    <p>Total price: EUR 169</p>
    <hr class="horline">
    <p>Select payment method</p>

    <div class="form-group">
        <label>
            <input type="radio" name="paymentcard" value="chicken">
            <img src="../../assets/mastercard.png" width="90px">
        </label>
        <label>
            <input type="radio" name="paymentcard" value="chicken">
            <img src="../../assets/visa.png" width="90px">
        </label>
        <label>
            <input type="radio" name="paymentcard" value="chicken" >
            <img src="../../assets/paypal.png" width="90px">
        </label>
        <p><button class="loginbutton" routerLink="/bookingconfirmed">Confirm</button></p>
    </div>

</div>

