.div-style{
	background-color: #FFFFFF;
	border-radius: 8px;
	border: #00A1E4;
	border-style: solid;
	border-width: 3px;
	height:450px;
	width:600px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-300px;
	margin-top:-250px;
}
	
.div-style a{
	margin:0 40px;
	color: #FFFFFF;
	text-align: center;
	padding: 8px 30px;
	width: 30%;
	text-decoration: none;
	font-size: 15px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #FF7800;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
 
.div-style a:hover {
	background-color: #00A1E4;
	color: #FFFFFF;
	border-radius: 5px;
	cursor: pointer;
}
 
.title{
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
	font-size: 36px;
	color: #00A1E4;
	text-align: center;
	font-style: initial;
}
 
input{
	padding:8px;
	display:block;
	border:none;
	width:50%;
	background-color: #FFFFFF;
	border-width: 2px;
	border-color: #00A1E4;
	border-style: solid;
	border-radius: 5px;
	margin-left: 23%;
}
 
::placeholder {
	color: #00618A;
}
	
.container {
	width: 100%;
	height:90vh; 
	position:relative;
}
