<div class="container">
  <div class="div-style"><br><br>
    <div class="title">Register Airport </div><br><br>
    <form class="add-traject-form" #airportForm="ngForm">
      <div class="form-group">
        <input placeholder="Airport" ngModel name="airport"><br><br>
      </div>
      <div  class="form-group">
        <input placeholder="Abbreviation" ngModel name="abbreviation"><br><br>
      </div>
      <div class="form-group">
        <input placeholder="City" ngModel name="city"><br><br>
      </div>
      <div class="form-group">
        <input placeholder="Country" ngModel name="countryCode"><br><br>
      </div>
        <div style="width:100%;text-align:center">
        <a class="registerbutton" type="submit" (click)="addAirport(airportForm)">Add airport</a>
        <span><a routerLink="/landingadmin" class="registerbutton" type="submit" (click)="addAirport(airportForm)">Back</a></span>
      </div>
    </form>
  </div>
</div>
