<div class="container">
  <h1>Register Traject </h1>
  <form class="add-traject-form" #userForm="ngForm">
    <div class="form-group">
      <label>From: </label>
      <select class="option-label" [(ngModel)]='originSelected' name="origin">
        <option name="origin" value={{airport.id}} *ngFor="let airport of airports">{{airport.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>To: </label>
      <select class="option-label" [(ngModel)]='destinationSelected' name="Destination">
        <option name="Destination" value={{airport.id}} *ngFor="let airport of airports">{{airport.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>duration:</label>
      <input class="option-label" ngModel name="duration">
    </div>
    <button type="submit" (click)="addFlight(userForm)">Submit Flight</button>
  </form>
</div>
