/* You can add global styles to this file, and also import other style files */
body{
background-image: url("palm.jpg");
background-size:cover;
background-size: 1800px 1500px;
background-position: 0px; 
}